/* Styles go here */

body {
    background: url("../images/_bg.png");
}
.container-relative {
    width:90%;
    max-height: 1500px;
    margin: 0 auto;
}


.header {
    position: relative;
    top: 0px;
    width:200px;
    height: 100px;
    margin: 45px auto 30px;
    /*border: solid 1px #fff;*/
}

.header img {
    max-width: 165px;
    max-height: 150px;
    position: absolute;
    top: 49px;
    left: 22px;
}

.header p {
    text-align: center;
    font-family: "ITC Avant Garde Gothic Std";
    color: rgb(255, 255, 255);
    line-height: 1.161;
    z-index: 4;
    position: absolute;
    top: 60px;
    left: 26px;
    font-size: 20px;
}

/*Main*/

.main {
    position: relative;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.2);
    width: 170px;
    height: 160px;
    margin: 0 auto;
    text-align: center;
}

.main h4 {
    padding-top: 15px;
    font-size: 7.5px;
    font-family: "Futura";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 2.161;
}

.main input {
    padding: 3px 0px;
    background-color: #295E64;
    border: none;
    color: rgb(255, 255, 255);
    outline: none
}

.main .user {
    margin-top: 5px;
    position: relative;
    left: 13px

}

.main .user i {
    position: absolute;
    left: 9px;
    background-color: #295E64;
    padding: 0.8px 8px;
    top: 2px;
    color: rgb(255, 255, 255);
}

.main .user input {
    width: 85px;
    padding-right: 10px;
    margin-left: 5px;
}

.main ::-webkit-input-placeholder {
    color: rgb(255, 255, 255);
}

.main .password {
    margin-top: 5px;
    position: relative;
    left: 12px;
    color: rgb(255, 255, 255);

}

.main .password i {
    position: absolute;
    left: 10px;
    background-color: #295E64;
    padding: 0.8px 8px;
    top: 2px;
}

.main .password input {
    width: 88px;
    padding-right: 10px;
    margin-left: 4px;
}

.main button {
    margin-top: 10px;
    padding: 5px 25px;
    text-transform: uppercase;
    background-color: #5399A1;
    border-radius: 3px;
    border: none;
    color: rgba(255,255,255,1);
}

.main p {
    margin-top: 10px;
    font-size: 8px;
    color: rgb(255, 255, 255);
    font-family: "Myriad Pro";
    line-height: 1.125;
}


